.result {
  position: relative;
  font-size: smaller;
  border-radius: 0.5rem;
  padding: 0.4rem;
}

.odd {
  background-color: var(--bg-color2);
}

.even {
  background-color: var(--bg-color);
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 400px;
  max-width: 100%;
  overflow-y: auto;

  & img {
    height: 200px
  }
}

.summary {
  font-size: smaller;
  //max-height: 10em;
  //overflow-y: auto
  padding-bottom: 4px;
}