@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --fg-color: #000;
  --fg-color-link: #33a;
  --bg-color: #DDD;
  --bg-color2: #C0C0C0;
  --bg-color-full: #FFF;
  --nav-bg-color: #999;
  --nav-fg-color: #33A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: #FFF;
    --fg-color-link: #77f;
    --bg-color: #222;
    --bg-color2: #333;
    --bg-color-full: #000;
    --nav-bg-color: #555;
    --nav-fg-color: #99A;
  }
}

body {
  color: var(--fg-color);
  background: var(--bg-color);
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/** Anchor Links **/

a:not(:hover) {
  text-decoration: none;
  color: var(--fg-color-link);
}

a.selected {
  color: #1c1cd4;
  font-weight: bold;
}


/** Header **/

header {
  clear: both;
  background-color: var(--bg-color2);
  display: flex;
  justify-content: center;
  width: 100%;
}


/** Footer **/

footer {
  clear: both;
  border-top: 2px solid #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-top: 2px solid #888;
}

/** Section **/

section {
}

/** Article **/

article {
  //min-width: min(80vw, 1600px);
  //max-width: 100vw;
  max-width: 1600px;
  margin: 0.25rem;
  /*padding: 1rem;*/

  /** Paragraphs and Blocks **/

  > p, s,
  > blockquote,
  > iframe,
  > ul, > ol, > h1, > h2, > h3, > h4, > h5, > h6 {
    //> * {
    display: block;
    max-width: 1000px;
    min-width: 100px;
    margin: 0.7em auto 0.7em auto;
    padding: 0 0.2em;
  }

  > p {
    text-align: justify;
  }

  /** Figures & Captions **/

  figure {
    figcaption {
      //max-width: 50%
      > * {
        font-size: 12px;
        line-height: 14px;
        text-indent: 0;
        text-align: justify;
        font-style: italic;
        padding: 0;
        margin: 4px 2px 2px 2px
      }
    }
  }
}

/** Images **/


/** Paragraphs **/

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-indent: 12px;
  //text-align: justify;
  padding: 0 1rem;
}

/** Headers **/

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.9em;
}

/*em, strong, i, u {*/


/** Pre, Blockquotes, Code **/

pre, blockquote {
  border-radius: 2px;
  font-style: italic;
  display: flex;
}

pre, blockquote p {
  background: var(--bg-color2);
  padding: 1rem;
  border-radius: 2px;
  border-left: 4px solid var(--nav-bg-color);
  border-right: 4px solid var(--nav-bg-color);
}


blockquote p,
code {
  font-family: "Titillium Web", sans-serif;
}

code {
  white-space: pre-line;
}

cite {
  font-size: 0.8em;
}

ul {
  display: block;
  padding: 0 0.8em;
}

ul ul {
  font-size: 0.9em;
}

/** Text **/

.text-highlighted {
  animation: scaleWobble ease-in-out 3s;
}

@keyframes scaleWobble {
  0% {
    color: var(--fg-color);
    text-shadow: none;
  }
  10% {
    color: var(--fg-color-link);
    text-shadow: 24px 0 24px #AAA, -24px 0 24px #AAA;
  }
  100% {
    color: var(--fg-color);
    text-shadow: none;
  }
}

/** Input **/

button, input, optgroup, select, textarea {
  background: var(--bg-color);
  color: var(--fg-color);
}
