.navContainer {
  background-color: var(--nav-bg-color, #999);
  width: 100%;
}

.headerContainer {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.linkContainer {
  background-color: var(--nav-bg-color, #999);
  /*font-size: 18px;*/
  padding: 2px;
  width: 100%;

  + .linkContainer {
    background-color: color-mix(in srgb, var(--nav-bg-color, #999), #000 10%);

    + .linkContainer {
      background-color: color-mix(in srgb, var(--nav-bg-color, #999), #000 20%);

      + .linkContainer {
        background-color: color-mix(in srgb, var(--nav-bg-color, #999), #000 30%);
      }
    }
  }
}

