.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  a {
    color: var(--fg-color);

    &:hover {
      color: var(--fg-color-link);
    }

    &.current {
      font-weight: bold;
      //color: #1c1cd4;
    }


    //text-decoration: none;
    //display: block;
    padding: 0.2vw 0.8vw;
    margin: 0 0.2vw;
  }

}